*{
    margin: 0;
    padding: 0;
}

/* FONTE */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;1,100;1,200&display=swap');
/* CLASS */
.cor_h1 {
    color: #DD3F6D;
    text-decoration: underline;
    width: 100;
}
.pai {
    background-color: rgb(193, 214, 255);
    display: inline-block;
    padding: 50px;
    border: 1px solid rgb(90, 90, 90);
    margin-top: 100px;
}
.pai:first-child {
    position: absolute;
    top: 250px;
    left: 500px;
}
.filho{
    height: 150px;
    width: 150px;
    background-color: blueviolet;
    border-radius: 100%;
}
#menu {
    width: 100%;
    height: 5em;
    background-color: rgb(36, 36, 36);
    color: aliceblue;
    list-style: none;
    position: fixed; /* Display fixed faz com que a Head permaneça no topo mesmo movendo a página. */
    align-items: center;
    display: flex;

}
#menu ul {
    flex-direction: row;
    display: inline-block;
}
#menu ul li {
    flex-direction: row;
    display: inline-block;
    margin-left: 10px;
    color: #7A9652;
    font-size: 1.2em;
    font-family: "Montserrat";

}
#menu ul li:hover{
    color: #DD3F6D;
    cursor: pointer;
}
#menu img {
    width: 50px;
    margin: 5px;
}

.logo_header{
    margin-left: 40px;
}
.menu_navegation{
    margin-right: 40px;
    display: inline-block;
}
.header_texto{
    color: #7A9652;
    text-shadow: 0.5px 0.5px white;
    font-size: large;
}

/* TAG */
header nav {
    justify-content: space-between;
}
h1 {
    font-family: "Montserrat";

}
h2 {
    background-color: #7A9652;
    color: rgb(255, 255, 255);
}
